*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    height: 15vh;
    width: 100vw;

}

.corPreto{
    background-image: linear-gradient(to right top, #ff0000, #e50013, #cb001b, #b0001f, #950020, #8c0021, #820021, #790021, #7f0024, #840026, #8a0029, #90002c);
}

.corPreto a{
    color: white;
}

.corPreto a:hover{
    color: yellow;

}


.corPreto a:focus{
    color: orangered;
}


body{
    overflow-x: hidden;
}

#pagina1{
    width: 100vw;
    height: auto;

    
}